<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <link rel="stylesheet" href="/wysebytes.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<title>Cool Form Fields</title>
	
</head>

<body>
	<div id="signin" class="signup">





	<div id="fillitout">
		<form id="signup" action="/search/" method="post">
		<p><input id="search" name="search" value="Search" type="text"></p>
		<div class="submit"><input value="Search!" type="submit"></div>
		</form>
	</div>


	</div>


	
	</div><!-- /signin -->

	<div id="message" class="hidden error">

</body>
</html>